*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .left-close {
  display: block;
  padding: 10px 20px 0;
  cursor: pointer;
}
@media (min-width: 720px) {
  nav .left-close {
    display: none;
  }
}
nav .left-logo {
  height: 70px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 30px;
}
nav .left_list {
  display: none;
}
@media (min-width: 720px) {
  nav .left_list {
    display: flex;
    align-items: space-between;
    justify-content: center;
  }
  nav .left_list-item a {
    padding: 20px;
    font-size: 16px;
    color: #555;
    position: relative;
    text-align: center;
  }
  nav .left_list-item a:focus {
    color: #222;
    font-weight: 400;
  }
  nav .left_list-item a:focus::before {
    content: "";
    position: absolute;
    text-align: center;
    bottom: -7px;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: hsl(26deg, 100%, 55%);
    border-radius: 6px;
  }
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
nav .right_cart {
  position: relative;
}
nav .right_cart::before {
  content: attr(data-cards);
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  left: 10px;
  top: -5px;
  width: 15px;
  height: 10px;
  color: white;
  background-color: rgba(255, 68, 0, 0.662);
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
}
nav .right_cart img {
  width: 17px;
  position: relative;
}
nav .right_cart:focus .cart {
  display: block;
  position: absolute;
}
nav .right_user-picture img {
  width: 30px;
  border: 2px solid rgba(255, 68, 0, 0.562);
  border-radius: 50%;
}
nav::before {
  content: "";
  position: absolute;
  text-align: center;
  top: 70px;
  width: 80%;
  height: 2px;
  background-color: #ddd;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
  padding: 50px;
}
@media (max-width: 500px) {
  .section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.section-left {
  width: min(100vw, 350px);
}
.section-left-main {
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
}
.section-left-main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-left-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  position: relative;
}
.section-left-imgs img {
  width: 70px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: all 250ms linear;
}
.section-left-imgs img:hover {
  scale: 1.05;
}

.try {
  overflow: hidden;
}
.try:focus .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 79, 79, 0.349);
  z-index: 100;
  border-radius: 15px;
}

a img:focus {
  border: 2px solid orangered;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-right {
  width: max(50%, 400px);
}
@media (max-width: 500px) {
  .section-right {
    width: 90%;
  }
}
.section-right p, .section-right h2, .section-right div, .section-right del {
  padding: 5px;
}
.section-right p.price ins {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 700;
}
.section-right p.price span {
  background-color: hsl(25deg, 100%, 94%);
}
.section-right del {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.664);
}
.section-right_footer span {
  padding: 8px;
  font-size: 18px;
}
.section-right_footer span.plus, .section-right_footer span.minus {
  font-size: 25px;
  cursor: pointer;
}

.orange {
  color: hsl(26deg, 100%, 55%);
}

.button {
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 6px;
  width: 40%;
}
.button .svg {
  display: flex;
  gap: 20px;
  width: 100%;
}
.button .svg button {
  background-color: hsl(26deg, 100%, 55%);
  border: none;
  color: white;
}
.button .svg svg {
  fill: white;
  width: 22px;
  height: 20px;
}
@media (max-width: 500px) {
  .button .svg svg {
    display: none;
  }
}

.section-right_footer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #333;
  height: 70px;
  color: white;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer img {
  fill: white;
  padding: 10px;
}

.cart {
  display: none;
  background-color: white;
  position: absolute;
  top: calc(100% + 20px);
  left: -120px;
  width: 250px;
  box-shadow: 1px 9px 15px -5px #333;
}

p {
  padding: 10px;
  margin: 0;
  width: 100%;
  position: relative;
}
p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.cartValue {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #555;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .left-close {
  display: block;
  padding: 10px 20px 0;
  cursor: pointer;
}
@media (min-width: 720px) {
  nav .left-close {
    display: none;
  }
}
nav .left-logo {
  height: 70px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 30px;
}
nav .left_list {
  display: none;
}
@media (min-width: 720px) {
  nav .left_list {
    display: flex;
    align-items: space-between;
    justify-content: center;
  }
  nav .left_list-item a {
    padding: 20px;
    font-size: 16px;
    color: #555;
    position: relative;
    text-align: center;
  }
  nav .left_list-item a:focus {
    color: #222;
    font-weight: 400;
  }
  nav .left_list-item a:focus::before {
    content: "";
    position: absolute;
    text-align: center;
    bottom: -7px;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: hsl(26deg, 100%, 55%);
    border-radius: 6px;
  }
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
nav .right_cart {
  position: relative;
}
nav .right_cart::before {
  content: attr(data-cards);
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  left: 10px;
  top: -5px;
  width: 15px;
  height: 10px;
  color: white;
  background-color: rgba(255, 68, 0, 0.662);
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
}
nav .right_cart img {
  width: 17px;
  position: relative;
}
nav .right_cart:focus .cart {
  display: block;
  position: absolute;
}
nav .right_user-picture img {
  width: 30px;
  border: 2px solid rgba(255, 68, 0, 0.562);
  border-radius: 50%;
}
nav::before {
  content: "";
  position: absolute;
  text-align: center;
  top: 70px;
  width: 80%;
  height: 2px;
  background-color: #ddd;
}

.aside {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 100vh;
  z-index: 100;
  left: 0px;
  top: 0;
  display: none;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 30px;
}
.aside img {
  width: 20px;
  align-self: end;
  cursor: pointer;
}
.aside_list {
  margin: 0;
  padding: 0;
}
.aside_list-item {
  padding: 10px 5px;
  position: relative;
  transition: all 250ms linear;
}
.aside_list-item a {
  transition: all 250ms linear;
  padding: 20px;
  font-size: 16px;
  color: #555;
  text-align: center;
}
.aside_list-item a:focus {
  color: #222;
  font-weight: 400;
}
.aside_list-item a:focus::before {
  content: "";
  position: absolute;
  text-align: center;
  bottom: 5px;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 6px;
}/*# sourceMappingURL=style.css.map */